.product-container {
  display: flex;
  justify-content: left;
  background-color: antiquewhite;
  padding: 15px;
  margin: 15px;
}

.product-price {
  padding: 3px;
  font-weight: bold;
}
